/* Header */
header {
	background: linear-gradient(0deg,
			var(--darker-overlay),
			var(--darker-overlay)), url(../img/header-background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.header-block {
	display: inline-block;
	width: 100%;
}

nav {
	margin-top: 60px;
	position: relative;
}

nav img {
	height: 50px;
}

.nav-menu {
	position: absolute;
	right: 0;
	top: 5px;
}

.nav-menu::after {
	content: '';
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background-color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: center;
}

nav button {
	color: #fff;
	text-decoration: none;
	margin: 0 20px;
	font-size: 18px;
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

nav button::after {
	content: '';
	position: absolute;
	left: 0;
	top: -10px;
	width: 100%;
	height: 1px;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 250ms ease-in;
}

nav button:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.header-banner-text {
	text-align: center;
	color: #fff9;
	height: 400px;
	position: relative;
}

.header-banner-text h1 {
	position: absolute;
	top: 150px;
}

@media (max-width: 900px) {
	nav {
		text-align: center;
	}

	.image-wrapper {
		width: 100%;
		margin-bottom: 20px;
	}

	.nav-menu {
		width: 100%;
		position: relative;
	}
}

@media (max-width: 620px) {
	.nav-menu li {
		display: inline-block;
		width: 100%;
		margin: 10px 0;
	}
}

/* main */
h2 {
	margin-top: 60px;
}

/* Section - About us */
#about-us-section {
	margin-bottom: 60px;
}

.about-us-wrapper {
	text-align: center;
}

.about-us-block {
	display: inline-block;
	width: 25%;
	margin: 20px 40px;
	text-align: left;
}

h3 {
	width: 100%;
	background-color: var(--secondary-color);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	margin-bottom: 5px;
}

.about-us-block p {
	line-height: 25px;
}

@media (max-width: 1100px) {
	.about-us-block {
		width: 40%;
		margin: 20px 20px;
	}
}

@media (max-width: 620px) {
	.about-us-block {
		width: 100%;
		margin: 20px 0;
	}
}

/* Section - Services */
#service-section {
	background: linear-gradient(0deg,
			var(--darker-overlay),
			var(--darker-overlay)), url(../img/background.jpg);
	background-size: cover;
	background-position: top;
	color: #fff;
}

.service-info-wrapper p {
	margin-top: 20px;
}

.service-list-wrapper {
	text-align: center;
	margin-bottom: 60px;
}

.service-info-wrapper ul {
	margin-top: 20px;
	list-style-type: none;
	display: inline-block;
	text-align: left;
}

.service-info-wrapper li {
	position: relative;
	line-height: 30px;
}

.service-info-wrapper li::before {
	content: '\f2dc';
	position: absolute;
	left: -25px;
	top: 0;
	font-family: 'FontAwesome';
}

/* Section - Pricing */
#pricing-section p {
	margin-top: 20px;
}

#pricing-section a {
	text-decoration: none;
	color: var(--accent-color);
	position: relative;
}

#pricing-section a::after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 250ms ease-in;
}

#pricing-section a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.table-wrapper>table {
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-top: 30px;
	margin-bottom: 60px;
}

/* Footer */

footer {
	background: linear-gradient(0deg,
			var(--darker-overlay),
			var(--darker-overlay)), url(../img/background.jpg);
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

footer>.short-row {
	color: #fff;
	line-height: 25px;
}

.contact-info {
	display: inline-block;
	width: 50%;
	float: left;
	margin-top: 30px;
}

.mail-info,
.phone-info {
	font-size: 25px;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer a:hover {
	color: var(--accent-color);
}

footer .fa {
	margin-right: 20px;
}

.contact-info>span {
	text-transform: uppercase;
}

.copyrights-line {
	background-color: var(--darker-overlay);
	color: #fff7;
	text-align: center;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	margin-top: 40px;
}

@media (max-width: 620px) {
	.contact-info {
		display: inline-block;
		width: 100%;
		float: left;
		margin-top: 30px;
	}
}