body {
	display: grid;
	grid-template-columns: 1fr;
}

.container {
	display: grid;
	grid-template-columns: 1fr 200px 600px 200px 1fr;
}

	.long-row {
		grid-column: 2/5;
	}
		nav > div {
			display: inline-block;
		}

	.short-row {
		grid-column: 3/4;
	}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

@media (max-width: 1100px) {
	.container {
		grid-template-columns: 1fr 100px 600px 100px 1fr;
	}
}

@media (max-width: 900px) {
	.container {
		grid-template-columns: 1fr 600px 1fr;
	}

	.long-row, .short-row {
		grid-column: 2/3;
	}
}

@media (max-width: 620px) {
	.container {
		grid-template-columns: 20px 1fr 20px;
	}
}